h2{
    text-align:center;
}

form{
    width:400px;
    margin:auto;
    padding:20px;
    border:1px solid #ccc;
    border-radius:8px;
}

input,
select{
    width:100%;
    padding:8px;
    margin-top:5px;
    margin-bottom:10px;
}

button{
    padding:8px 15px;
    margin-right:10px;
}

small{
    color:red;
}

.ng-invalid.ng-touched{
    border:2px solid red;
}

.ng-valid.ng-touched{
    border:2px solid green;
}